body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(fondo.jpg);
}
strong{
    font-size: 1.5rem;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
header{
    width: 100%;
    text-align: center;
    color: white;
}
header p{
    font-size: 1.5rem;
}
header h1{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.939);
}
fieldset{
    text-align: center;
    border-radius: 8px;
    background-color: white;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin: 2px 0;
}
.containerInput{
    width: 100%;
    display: flex;
    justify-content: center;
}
h3{
    color: rgb(0, 111, 167);
    font-size: 2rem;
}
label{
    font-size: 1.3rem;
}
input {
    margin-bottom: 10px;
    height: 1rem;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 5px;
}
.containerButton{
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerButton button{
    font-size: 1.1rem;
    margin: 5px 0;
    padding: 8px;
    border-radius: 8px;
    width: 6rem;
    border: none;
    background-color: rgb(0, 111, 167);
    color: white;
    cursor: pointer;
}
.containerButton button:hover{
    background-color: rgb(1, 136, 204);
}
